.container{
  margin: 10px 5px;
  display: flex;
  flex-flow: row wrap;
  place-content: center space-between;
  border-top: 1px solid grey;
}

.miniDetalle{
  max-width: 35%;
  display: flex;
  flex-flow: column wrap;
  place-content: center start;
}

.miniImagen{
  width: 120px;
  height: 100px;
}

.numeros{
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  place-content: center space-evenly;
}

.detail{
  width: 30%;
  text-align: center;
} 

.buttonRemove{
  width: 40px;
  height: 40px;
  border: 2px solid #6c757d;
  border-radius: 100%;
  background-color:#c7c7c7;
  align-self: flex-start;
}

.buttonRemove:hover{
  background-color: #dc3545;
  border: 2px solid #dc3545;
}

@media (max-width: 600px) {
  .buttonRemove{
    width: 30px;
    height: 30px;
  }
}