.product{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  margin: 20px 5px;
  background-color: white;
  border: 1px inset;
}

.imgAndCount{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.imgProductos{
  width: 500px;
  height: 416.5px;
  border: 1px solid grey;
  border-top: none;
}

.infoProducto{
  align-self: flex-start;
  margin: 5%;
  flex-direction: column;
  margin-top: 25px;
  font-size: 20px;
}

.subtituloProduct{
  margin: 30px 0px;
}

.precio{
  margin-top: 100px;
}

.botonRegresar{
  width: 25%;
  height: 50px;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  border:none;
  background-color: grey;
  color: white;
}

.botonRegresar:hover{
  background-color: orange;
  color:white;
}

.botonesCompra{
  width: 40%;
  height: 200px;
  display: flex;
  flex-flow: column nowrap;
  place-content: center space-evenly;
}

.botonConfirmar{
  width: 40%;
  height: 50px;
  background-color:#5867dd;
  border: 2px solid #5867dd;
  border-radius: 3px;
  color: white;
  font-size: 25px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}


.botonConfirmar:hover{
  background-color: #27e28b;
  border: 2px solid #27e28b;
}