.container{
  padding: 10px 30px;
  min-height: 50vh;
  display: flex;
  flex-flow: row wrap;
  place-content: start center;
}

.tituloCart{
  width: 100%;
  color: #009C8C;
  margin: 25px 0px;
}

.subtituloCart{
  font-size: 20px;
  width: 100%;
  color: #009C8C;
  margin-bottom: 50px;
}

.titulosColumnas{
  padding: 10px;
  width: 75%;
  min-height: 500px;
  font-size: 1.3rem;
  display: flex;
  flex-flow: row wrap;
  place-content: start space-between;
  border: 5px solid #009C8C;
  border-radius: 10px;
}

.detallesCompra{
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  place-content: center space-evenly;
}

.totalCompra{
  width: 50%;
  align-self: flex-end;
  display: flex;
  flex-flow: row wrap;
  place-content: center space-evenly;
}


.detail{
  width: 30%;
  text-align: center;
  background-color: rgba(211, 211, 211, 0.575);
} 

.listaProductos{
  width: 100%;
  margin-top: 10px;
  padding-top:25px;
  border-top: 3px solid #009C8C;
  border-bottom: 3px solid #009C8C;
  background-color: #f2f3f8;
}

.botonesCarrito{
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  place-content: center space-evenly;
}

.botonSeguir, .botonConfirmar, .botonBorrar{
  width: 20%;
  height: 50px;
  background-color:#5867dd;
  border: 2px solid #5867dd;
  border-radius: 3px;
  color: white;
  font-size: 25px;
  text-decoration: none;
  display: flex;
  flex-flow: row wrap;
  place-content: center center;
  margin-top: 25px;
  cursor:pointer
}

.botonSeguir:hover{
  background-color: #6c757d;
  border: 2px solid #6c757d;
}

.botonConfirmar:hover{
  background-color: #27e28b;
  border: 2px solid #27e28b;
}

.botonBorrar:hover{
  background-color: #ffc107;
  border: 2px solid #ffc107;
}