.container{
  padding: 10px 30px;
  min-height: 50vh;
  display: flex;
  flex-flow: row wrap;
  place-content: start center;
}

.tituloCart{
  width: 100%;
  color: #009C8C;
  margin: 50px 0px;
}

.titulosColumnas{
  padding: 10px;
  width: 75%;
  font-size: 1.3rem;
  display: flex;
  flex-flow: row wrap;
  place-content: center space-between;
  border: 5px solid #009C8C;
  border-radius: 10px;
}

.detallesCompra{
  width: 40%;
  display: flex;
  flex-flow: row wrap;
  place-content: center space-evenly;
}

.detail{
  width: 40%;
  text-align: center;
} 

.listaProductos{
  width: 100%;
  margin-top: 10px;
  padding-top:25px;
  border-top: 3px solid #009C8C;
  background-color: #f2f3f8;
}
