.flexConteiner{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.globoCompra{
  position: absolute;
  background-color: red;
  color: white;
  border-radius: 100px;
  border: 1px solid red;
  left: 80%;
  bottom: 60%;
  width: 25px;
  height: 25px;
}
