*{
  margin:0%;
}
.Conteiner{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Titulo{
  padding: 0px 20px;
  color: #009C8C;
  font-size: 3.5rem;
  width: 100%;
}

.Nav{
  padding: 20px;
  width: 100%;
  background-color: #7fffd4;
}

.OpcionesDeUsuario{
  height: auto;
  width: 25%;
  justify-self: flex-end;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.NavList{
  height: auto;
  margin-top: 75px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  color: #5968df;
}

.NavList_link{
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  color: #005048;
}

li{
  width: auto;
  text-align: center;
  min-height: 30px;
  border-radius: 5px;
}

li:hover{
  background-color: whitesmoke;
}

.buttonLogOut{
  margin-top: 5px;
  cursor: pointer;
  border: none;
  background-color: transparent;  
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  color: #005048;
}

.homeLink{
  font-weight: bold;
  text-decoration: none;
  font-size: 35px;
  text-align: center;
  color: #005048;
}

.homeLink:hover{
  background-color: whitesmoke;
}