*{
  margin:0%;
}
.Conteiner{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Titulo{
  padding: 0px 20px;
  color: #009C8C;
  font-size: 3.5rem;
  width: 100%;
}

.Nav{
  padding: 20px;
  width: 100%;
  background-color: #7fffd4;
}

.OpcionesDeUsuario{
  height: auto;
  width: 25%;
  justify-self: flex-end;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.NavList{
  height: auto;
  margin-top: 75px;
  padding: 0%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  color: #5968df;
}

.NavList_link{
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  color: #005048;
}

li{
  width: auto;
  text-align: center;
  /* min-height: 30px; */
  /* border-radius: 5px; */
}

li:hover{
  background-color: whitesmoke;
}

.buttonLogOut{
  margin-top: 5px;
  cursor: pointer;
  border: none;
  background-color: transparent;  
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  color: #005048;
}

.homeLink{
  font-weight: bold;
  text-decoration: none;
  font-size: 35px;
  text-align: center;
  color: #005048;
}

.homeLink:hover{
  background-color: whitesmoke;
}

@media (max-width: 1200px) {
  .Titulo{
    font-size: 3.2rem;
  }

  .NavList_link{
    font-size: 21px;
  }

  .homeLink{
    font-size: 30px;
  }
}

@media (max-width: 992px) {
  .Titulo{
    font-size: 3rem;
  }

  .NavList_link{
    font-size: 18px;
  }

  .homeLink{
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .Titulo{
    font-size: 2.7rem;
  }

  .homeLink{
    font-size: 22px;
  }

  .OpcionesDeUsuario{
    width: 45%;
  }
}

@media (max-width: 475px) {
  .Titulo{
    font-size: 2.4rem;
  }

  .NavList{
    justify-content:space-between;
  }

  .OpcionesDeUsuario{
    width: 65%;
  }

  .NavList{
    margin-top: 45px;
    min-width: 100%;
  }
}

@media (max-width: 380px) {
  .Titulo{
    font-size: 2rem;
  }

  .OpcionesDeUsuario{
    width: 65%;
  }

  .NavList{
    margin-top: 25px;
    min-width: 100%;
    flex-direction: column;
    justify-content:space-between;
    font-size: 14px;
  }
}