.container{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.loadingText{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:28px;
}