.containerForm{
  width: auto;
  min-height: 50vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.formRegistro{
  margin-top: 25px;
  width: 35%;
  display: flex;
  flex-flow: column nowrap;
  place-content: center space-evenly;
}

.inputSignUp{
  align-self: center;
  width: 100%;
  height: 35px;
  font-size: 25px;
  margin: 15px 0px;
  border-radius: 3px;
  border: 1px solid black ;
}

.buttonRegistrar{
  width: 35%;
  height: 50px;
  align-self: center;
  background-color:#5867dd;
  border: 2px solid #5867dd;
  border-radius: 3px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  cursor: pointer;
}

.buttonRegistrar:hover{
  background-color: #27e28b;
  border: 2px solid #27e28b;
}

.mensajeBienvenida{
  align-self: flex-end;
  font-size: 35px;
  color: green;
  width: 100%;
  text-align: center;
}
.mensajeDeError{
  margin-top: 25px;
  font-size: 18px;
  color: red;
  width: 100%;
  text-align: center;
}